<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Notification - Placescope Apple Watch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Placescope Apple Watch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Placescope Widget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Placescope.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0082A5E41C31CFEE00B42954</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0082A5FD1C31CFEE00B42954</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0082A6081C31CFEE00B42954</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>288C46EE1CADDADD00D9AE7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28BDECF41C491BD4000AD454</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
